[2016-08-22 17:34] gdibble opened #39 "Animated scroll (with duration) in IE is jerky"
I noticed that with IE10 and adding a duration option, the scroll effect is really jerky. Of course this doesn't seem to happen with any other browser. :smirk:

[2016-08-22 17:57] stipsan commented on #39
Hi @gdibble,

Thanks for reporting!
The animation is not done by this module though, it's done by this package: https://github.com/anvaka/amator
If you report it there, I'll get notified by greenkeeper when `amator` publishes a new version and I'll publish a new version of `scroll-into-view-if-needed` for you with the fix 😄

[2016-08-22 17:57] #39 closed

[2017-03-07 21:38] JKillian opened #105 "NPM distribution is unusual"
Just tried out this package for this first time, and I'm a big fan! The native browser `scrollIntoView` was causing issues for me and this package is working perfectly.

However, I did notice the NPM distribution for this package is somewhat strange. The distributed files, specifically `dist/bundle.js` seem to contain all the dependent packages bundled together. This isn't the NPM way - ideally yo

[2017-03-14 10:25] stipsan commented on #105
Hey, thanks a lot for your detailed report!

I wasn't aware that all the dependencies was included on NPM, that is indeed not ideal and will increase the build size of projects depending on this package!

I'll go over your related PRs right away, thanks again! 👍

[2017-03-14 10:27] #105 closed

[2017-03-14 10:37] stipsan commented on #105
I just pushed out 1.0.7, is everything looking ok now?

[2017-03-14 14:46] JKillian commented on #105
Yep, just upgraded and it's working great! Able to import your package now as your readme shows and the TypeScript typings work correctly for me out of the box as well. Thanks for releasing!

[2017-03-14 16:39] stipsan commented on #105
Awesome! 👍

[2017-04-05 19:08] gdibble opened #116 "Uncaught TypeError: scrollIntoView is not a function"
Use: `var scrollIntoView = require('scroll-into-view-if-needed');`
And: `scrollIntoView(elm, true, app.scrollIntoViewOptions);`
Result:
![image](https://cloud.githubusercontent.com/assets/906846/24722356/557d2c56-19f8-11e7-8ed9-eb2eb643e5be.png)

[2017-04-05 19:09] gdibble commented on #116
Seems crazy that I should have to update all my code to use `scrollIntoView.default()`

[2017-04-22 06:47] jwuliger commented on #116
Working on a client's site and they use this plugin, and I am getting the same issue. I cannot seem to get around it. I am going to try your code @gdibble . Thanks and I agree with you.

[2017-04-23 21:56] stipsan commented on #116
That is indeed crazy, probably a result of how the build step transforms es6 syntax to es5. I'll look into it.

[2017-04-28 01:22] khell commented on #116
I have created pull request #121 which will revert to pre-1.0.7 behaviour.

[2017-04-28 07:09] kan2029 opened #122 "animation not working"
Using
`scrollIntoViewIfNeeded(node, {duration: 500});`

It is getting scrolled to that particular div but but animation is not working.
pls look into this.

[2017-05-02 20:50] layton-glympse opened #123 "Why accept arg #2 (centerIfNeeded) and options.centerIfNeeded?"
This is mostly curiosity: why even include the 2nd argument if the options parameter can do so?

The following cases (I presume) are analogous:

[code]
[code]

If they aren't analogous:
1) Why not?
2) Why is it not documented?

I feel as though the signature could be simplified to just be:

[code]

I understand that arg 2 is for convenience (at least I assume so), in which case, I recommend removi

[2017-07-19 20:58] HaolinWang8 opened #126 "Can i set a offset?"
I have some thing floating on the screen like header. I want to set a offset to scroll more and show the content behind the floating header out.

[2017-08-02 13:48] iwangulenko commented on #126
Maybe someone can implement this and take some code from here: https://github.com/yiminghe/dom-scroll-into-view/blob/master/src/dom-scroll-into-view.js

[2017-08-02 22:47] bessfernandez commented on #126
Also wondering this same thing!

[2017-08-03 19:13] iwangulenko commented on #126
Maybe implement similar to:
https://github.com/yiminghe/dom-scroll-into-view/blob/master/src/dom-scroll-into-view.js#L46

[2017-08-21 10:12] hvolschenk commented on #122
If you look at the readme you will see you need to pass `options` as the **3rd** parameter:

[code]

[2017-09-09 08:26] ndbroadbent opened #128 "How hard would it be to support absolutely positioned elements?"
The native webkit `scrollIntoViewIfNeeded` supports this, and I need this for my app. If it's too hard to implement here, are there any alternatives?

[2017-09-09 08:37] ndbroadbent commented on #128
[dom-scroll-into-view](https://github.com/yiminghe/dom-scroll-into-view) handles absolute positions correctly, so I switched to that library

[2017-10-01 03:36] stipsan commented on #116
Fixed and released https://github.com/stipsan/scroll-into-view-if-needed/pull/121

[2017-10-01 03:36] #116 closed

[2017-10-01 03:37] stipsan commented on #126
Thanks to @iwangulenko and #127 this is now possible 😄

[2017-10-01 03:37] #126 closed

[2017-10-01 03:54] stipsan commented on #123
You are right the interface have turned messy as functionality got added.

I've just finished setup `semantic-release` on this project to make it easier to do new releases.
Next on my list is to setup a simple testing suite using SauceLabs to get good browser coverage to prevent regressions and to catch bugs.
After that I intend to refactor the API signature and update the docs.
The new signature

[2017-10-01 03:56] #122 closed

[2017-10-01 04:06] stipsan commented on #123
The reason why the second argument exists is because it exists in the native implementation: https://developer.mozilla.org/en-US/docs/Web/API/Element/scrollIntoViewIfNeeded
And I didn't think about toggling between a boolean for backwards compatibility and an object with options for convenience. I regret that now 🙂

However it is confusing indeed. Work is done to make these features part of the sc

[2017-10-01 04:16] stipsan commented on #128
Glad you found a package that works for you 👍

I'm reopening this though as I think this is something this package should support as well 🙂

[2017-10-29 17:25] xaviergonz opened #131 "typescript typings are wrong"
Typescript, unlike babel, differentiates between default and "whole" exports, this is.
import * as X from 'X'; = require('X')
import X from 'X'; = require('X').default;

whereas in babel
import X from 'X'; = require('X').default || require('X');

the thing is that the TS typings say that the function is actually on require('X').default, but it is actually in require('X') due to this last line in t

[2017-10-29 21:20] stipsan commented on #131
Hey thanks for reporting!

This behavior changed in #121 but the TS typings didn't get updated.
I will update the typings right away to reflect what is actually being exported by the generated build.

I've become quite a fan of TS (and have started using it on all my new projects) so later when I have a little more time on my hands I plan on refactoring the codebase here to TS.
No more outdated ty

[2017-10-29 21:24] #131 closed

[2017-11-01 12:52] sublime392 opened #135 "Can't use with angular after latest typings change"
I now get `node_modules/scroll-into-view-if-needed/typings has no default export.` I'm not sure if there is something I can do differently on my end. Any thoughts?

[2017-11-03 08:31] stipsan commented on #135
Hey @sublime392 thanks for reporting!

Have you tried changing the import?
[code]

If it still fails I'll look at it later today. The plan is to rewrite this project to use typescript directly instead of just a separate typings file that easily get outdated 😄

[2017-11-03 11:03] sublime392 commented on #135
Thanks. I did try importing it that way but I got a different error.
`node_modules/scroll-into-view-if-needed/typings"' resolves to a non-module entity and cannot be imported using this construct.`

[2017-11-04 15:52] stipsan commented on #135
ok thanks, I've just started working on a fix 😄

[2017-11-05 05:31] stipsan commented on #135
I've finished moving to TS and it should be working properly now :)

[2017-11-05 07:58] giannisp opened #142 "[1.2.5] Error installing (due to postinstall script)"
Hope this was committed by accident, latest npm published version (1.2.5) is trying to execute `yarn build` on npm/yarn install.

https://github.com/stipsan/scroll-into-view-if-needed/blob/1bb68395e691bf32907e79e8498b1899286ae09f/package.json#L25

[2017-11-05 14:33] stipsan commented on #142
Yes that was by accident! Fixing right away!

[2017-11-05 14:42] stipsan commented on #142
Just published 1.2.6 which uses `prepublish` instead as this was only meant to be used in the CI pipeline for testing, publishing to npm and building the docs site 😅

[2017-11-05 15:03] #142 closed

[2017-11-05 15:54] stipsan commented on #135
Hi again, I just published  [1.2.8](https://github.com/stipsan/scroll-into-view-if-needed/releases/tag/v1.2.8) after discovering that the typings file was missing.
It should be included now and provide you with accurate definitions.

Since the project is now itself using TS it means the definitions include a few new features (still) not documented in the readme. `finalElement` and `OffsetConfig`.

[2017-11-06 13:18] sublime392 commented on #135
Thanks for the fast update. I'll cycle back around in a few days to try it out.

[2017-11-08 15:41] denkristoffer opened #147 "Scrolls both window and container"
Hi :wave: Thanks for making this library!

I'm using it to scroll a list that has `overflow-y: scroll`. However, when scrolling to an element on the bottom of this list the window is scrolled to the bottom as well. Is there a way to avoid this or is it a bug?

[2017-11-09 00:27] stipsan commented on #147
Yes you can prevent it by using an undocumented 4th argument:
[code]
In the next major release we'll have 2 arguments instead of 5 (!) like now 😅

The 4th argument acts as a boundary. It works similar to the jquery `$.closest` api in that it recurses from your element and up the tree until it reaches the window.

Let me know if it works for you 😄

[2017-11-09 11:36] denkristoffer commented on #147
Oh I see now, sorry for not digging further into the code. It works perfectly 👍 Thanks!

[2017-11-09 11:36] #147 closed

[2017-11-09 22:32] stipsan commented on #135
I’ll close it meanwvile. Reopen it please if it’s still happening 😄

[2017-11-09 22:32] #135 closed

[2017-11-12 03:46] stipsan commented on #147
No worries at all 😄 This should've been documented tbh (and it will be soon) 🙂

[2017-11-12 13:57] stipsan opened #151 "Refactor to use getBoundingClientRect().top + window.pageYOffset instead of offsetParent recursion"
https://msdn.microsoft.com/en-us/library/hh781509(v=vs.85).aspx

This mode may not be possible to combine with the `boundary` feature. However the performance benefits for deeply nested elements is worth the time adding this performance optimization.

[2017-12-19 17:10] jdgarcia opened #156 "Expose amator's `done` option?"
I need to do something after the animation is done but don't see a way of doing it with the current options, outside of doing something like setTimeout using the duration time.
I noticed `aminate` function accepts a `done` option that isn't being used by this package.

[2018-01-02 07:59] stipsan commented on #156
Yeah I plan on exposing it in some form here: https://github.com/stipsan/scroll-into-view-if-needed/pull/155

[2018-02-01 11:26] saurishkar opened #157 "Scrolling on element happens only the first time"
I have a slider of elements and a large view below the slider that is mounted when an element is clicked.
I have used scrollIntoViewIfNeeded when the large view component gets mounted.
It scrolls nicely the first time, but when i close the view and then open it again. It does not scroll.

[2018-02-01 11:51] stipsan commented on #157
I am guessing here but when you close the view and open it again, does `scrollIntoViewIfNeeded` get fired?

Everytime it is called it will measure the DOM node you're passing in, so wether you're calling it for the first time, or the 100th time shouldn't make a difference.
However the timing of **when** you call it does make a difference. There could be a race condition happening between the closi

[2018-02-07 19:00] denkristoffer opened #158 "Kill scroll on user scroll"
GSAP's [ScrollToPlugin](https://greensock.com/docs/Plugins/ScrollToPlugin) has a very nice option that lets you cancel a scroll when the plugin detects that the scroll position is being changed—i.e. if a user decides to scroll during the tween. Is it possible to support something like this with `scroll-into-view-if-needed`?

[2018-02-07 19:34] stipsan commented on #158
Great idea! :+1: I'm swamped at work and don't know when I'll have time to get back into scroll-into-view-if-needed. But if anyone makes a PR with this I'll review and release for sure 😄

[2018-02-27 09:30] NaLLiFFuNT opened #163 "Expose amator's `step` option?"
This will be helpful if you have to sync scroll position of some elements.

[2018-04-05 07:27] zikaari opened #165 "Add option to force centering"
Description of `options.centerIfNeeded` says:

Description of `options.forceCenter` would be:

[2018-04-10 21:54] stipsan commented on #165
The centering feature of the non-standard `Element.scrollIntoViewIfNeeded` is now in the draft [spec](https://drafts.csswg.org/cssom-view/#extension-to-the-element-interface). MDN docs: https://developer.mozilla.org/en-US/docs/Web/API/Element/scrollIntoView

To `forceCenter` you would simply do
[code]
In a standard `ltr` mode, block = vertically and inline = horizontally.

There's also an ongoing

[2018-04-21 16:04] stipsan opened #166 "Todo for v2"
Moving it out of #155 so this can be done in multiple PRs.

# Guiding principles behind the rebuild
* Ponyfill principles, never alter globals that one day could break the web (cough cough mootools cough cough)..
* Minimal in design and API surface.
* Follow the `Element.scrollIntoView(ScrollIntoViewOptions)` spec and related draft specs instead of reinventing the wheel.
* Comprehensive testing su

[2018-04-22 22:25] stipsan commented on #131
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on:
- [npm package (@next dist-tag)](https://www.npmjs.com/package/smooth-scroll-into-view-if-needed)
- [GitHub release](https://github.com/stipsan/scroll-into-view-if-needed/releases/tag/smooth-scroll-into-view-if-needed-v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** b

[2018-04-28 13:26] renovate[bot] opened #201 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: undefined. Note: this is a *nested* preset so please contact the preset author if you are unable to fix it yourself.

[2018-05-08 17:18] bluecaret opened #228 "Set block: nearest with offset?"
I need to be able to scroll into view with `block: 'nearest'` but with an offset. So this means I can have it scroll to the bottom of a div, but provide some buffer space below so the div isn't on the exact bottom of the screen. The center option is too drastic for my use, I just need a buffer of 30 pixels or so but still want it at the bottom of the screen.

I'm hoping there is a way to do this,

[2018-05-08 21:40] stipsan commented on #228
Hey!

Have you tried adding some CSS `padding` to your div?

That's how the Custom Transition example on the [demo](https://scroll-into-view-if-needed.netlify.com/) is applying an offset:
![image](https://user-images.githubusercontent.com/81981/39784210-efaf9bb6-5317-11e8-9753-cd2ed351da53.png)

If `Element.scrollIntoView` never scrolled more than one element (like `document.body`) an `offset` opt

[2018-05-08 21:44] stipsan commented on #228
Margins are excluded though. If your current CSS and HTML structure prevents you from being able to use `padding` on your div for this then I hope the custom behavior snippet above can help you 😄

[2018-05-08 21:56] bluecaret commented on #228
Yes, I can't use padding, have to use margin, that's precisely my issue 😄

I tried the override and it works, but doesn't smooth scroll, just jumps to the position, I still need it to smoothly scroll to it. Any hope for that?

Thanks!

[2018-05-08 23:09] stipsan commented on #228
The best way to do that is by using [CSS](https://developer.mozilla.org/en-US/docs/Web/CSS/scroll-behavior), add this next to where you are using `overflow: scroll` or `overflow: auto`:
[code]

If that is not an option you can copy the logic the library is using internally to make smooth scrolling work without adding that CSS.

[code]

[2018-05-09 19:38] bluecaret commented on #228
Interesting, did not know that was a CSS option! Learn something new 👍
Thanks!

[2018-05-09 19:38] #228 closed

[2018-05-12 20:19] stipsan opened #234 "Setup automatic changelog generation"
Changelog haven't been updated since v2, and I'd rather not continue to update it manually.

It should be generated the same way release notes are generated during publish.

[2018-05-22 12:17] Ddk34 opened #250 "console.log('test) left in code"
Hi, theres a console.log('test) in the alignNearestInline function.

[2018-05-22 14:19] stipsan commented on #250
Yikes! Thanks for reporting! I'm gonna add an linter rule to prevent it from sneaking in again 😄

[2018-05-22 14:35] stipsan commented on #250
wait, I can't find it. What version is this?

[2018-05-23 21:45] stipsan commented on #250
This error were in a pre-release of v2: https://github.com/stipsan/scroll-into-view-if-needed/blob/ec038fe211a25aaee0e9433bbd12b1ed94cc02ed/packages/scroll-into-view-if-needed/src/compute.ts#L149-L162

The functions `alignNearestInline` and `alignNearestBlock` was combined into a shared `alignNearest` function in the `2.1.1` prerelease https://github.com/stipsan/scroll-into-view-if-needed/commit/5

[2018-05-23 21:45] #250 closed

[2018-05-31 23:00] pelotom opened #266 "What happened to duration?"
Hi, I just upgraded to v2, which looks great, except the `duration` option seems to have gone away... is it no longer possible to specify a duration for the smooth scroll animation?

[2018-06-01 10:49] stipsan commented on #266
Hey Tom!

The duration option is moved to smooth-scroll-into-view-if-needed to keep bundle sizes low for those who don’t need this feature. There’s more info on it in the readme: https://github.com/stipsan/scroll-into-view-if-needed/blob/master/README.md#ponyfill-smooth-scrolling

[2018-06-01 15:31] pelotom commented on #266
Thanks for the info!

[2018-06-01 15:31] #266 closed

[2018-06-07 21:21] icd2k3 opened #274 "Scrolling up doesn't work with scrollMode: if-needed"
👋 hey there,

After some investigation of an issue posted in `react-scroll-into-view-if-needed` [here](https://github.com/icd2k3/react-scroll-into-view-if-needed/issues/9). It looks as though there is a bug with the following behavior:

- scrolling _up_ to a target block _with_ scrollMode: 'if-needed'.

I setup this codesandbox to demonstrate: https://codesandbox.io/s/l4w26w2jz7
(note: it is in Re

[2018-06-08 07:37] stipsan commented on #274
Hey thanks for the detailed report! I am on the go today but I will circle back in around 10 hours and have a go at it 😄

The flaw is probably too simplistic logic here: https://github.com/stipsan/scroll-into-view-if-needed/blob/73e7d76ab7a1e678a47f3c63a0452a3e1b96f6a5/src/compute.ts#L256-L273

[2018-06-08 22:30] #274 closed

[2018-06-08 22:31] stipsan commented on #274
@icd2k3 #276 should fix it. I have tested it locally as well as on the codesandbox you shared. 😄

[2018-06-08 22:33] stipsan commented on #274
:tada: This issue has been resolved in version 2.2.5 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/scroll-into-view-if-needed)
- [GitHub release](https://github.com/stipsan/scroll-into-view-if-needed/releases/tag/v2.2.5)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-06-09 04:33] icd2k3 commented on #274
Sweet! Thanks for the timely fix @stipsan

[2018-06-09 12:45] stipsan commented on #274
No problem! 😄

[2018-06-12 12:00] ChickenProp opened #282 "Content partially hidden behind scrollbars"
When I set block/inline to `end` or `nearest`, in a container with scrollbars, part of the target element on the bottom and right remains hidden behind the scrollbars.

This is visible on https://scroll-into-view-if-needed.netlify.com/, the "scroll alignment" example. With block and inline both set to `nearest`, scrolling to 9 results in the green box being only partially visible, while scrolling

[2018-06-12 13:51] stipsan commented on #282
Ah you’re right! Thanks for the report! 😄

I will get time to work on a fix for this over the weekend, PRs are welcome meanwhile though.
If anyone submits a fix I’ll merge and release it right away 🙂

[2018-06-24 19:46] #282 closed

[2018-06-24 19:48] stipsan commented on #282
:tada: This issue has been resolved in version 2.2.7 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/scroll-into-view-if-needed)
- [GitHub release](https://github.com/stipsan/scroll-into-view-if-needed/releases/tag/v2.2.7)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-07-09 10:38] rosendi opened #338 "Incorrect scroll behaviour if html's height set to 100%"
If html's height set to 100% it scrolls to top, however `scrollMode: 'if-needed'` works correctly, i.e doesn't perform scrolling when the scrolling element is visible.

[2018-07-09 16:20] stipsan commented on #338
Hey!

I’m not sure what you mean, could you share a codesandbox or a snippet to help me reproduce it? 😄

[2018-07-12 20:12] matthew-dean opened #344 "`scrollIntoView` Promise doesn't resolve on some elements"
I discovered an apparent bug, where I have something like this:
[code]
It appears that if the element doesn't need to be scrolled into view (or some other reason?), then the Promise will never resolve. Even if I change `.then()` to `.finally()`, nothing happens. No console.log is output. Meaning I can't chain `scrollIntoView`s.

I didn't have this problem until the element I needed to check if it

[2018-07-12 20:19] stipsan commented on #344
Hey there!

Are you talking about `smooth-scroll-into-view-if-needed`?

[2018-07-12 20:31] matthew-dean commented on #344
@stipsan Yes, that's what I'm using.

[2018-07-12 21:15] stipsan commented on #344
Alright. Then it's for sure a bug. It's always returning a Promise.all:
https://github.com/stipsan/smooth-scroll-into-view-if-needed/blob/c8aa5a2d23541c8f24921f0196ece43843c58f0d/src/index.ts#L111-L125

If `scrollMode: 'if-needed'` is breaking the behavior it sounds like it's returning something other than an empty array. Gonna check it out, thanks for the report! 😄

[2018-07-12 21:36] #344 closed

[2018-07-12 21:39] stipsan commented on #344
I just released [v1.1.13](https://github.com/stipsan/smooth-scroll-into-view-if-needed/releases/tag/v1.1.13) with a fix, let me know if it works 😄

[2018-07-12 21:41] stipsan commented on #344
I'm open for feedback on what is returned when the promise resolved. It might make sense to include the same array of actions that it's mapping through?

[2018-07-12 22:03] matthew-dean commented on #344
Thanks for the fast turnaround! It works! ^_^

[2018-07-12 22:04] matthew-dean commented on #344
What it passes to the `then()` function is irrelevant for me. I just need to know when the Promise resolved.

[2018-07-12 22:23] stipsan commented on #344
Alright, good news! 😄👍

[2018-07-17 19:25] matthew-dean commented on #344
One thing that I'm seeing now. Although now an element that doesn't need scrolling returns a promise, it only _resolves_ after the timeout, even though no scrolling happened. I would expect that if no scrolling needs to happen, then it resolves immediately.

[2018-07-17 19:52] stipsan commented on #344
Good catch! I'll take care of it right after https://github.com/stipsan/compute-scroll-into-view/issues/17 😄

[2018-07-18 17:37] stipsan commented on #157
This should no longer happen in v2

[2018-07-18 17:37] #157 closed

[2018-07-18 17:40] stipsan commented on #163
Hey! This use case is now possible by using the custom behavior option: https://github.com/stipsan/scroll-into-view-if-needed#function

A live example can be seen here: https://scroll-into-view-if-needed.netlify.com/#custom-transition

[2018-07-18 17:40] #163 closed

[2018-07-18 17:44] stipsan commented on #165
v2 supports the example above 😄

[2018-07-19 19:11] catamphetamine opened #359 "Incorrect scroll behaviour on a page"
Version: `2.2.14`.
See the gif:

![1234](https://user-images.githubusercontent.com/477167/42963871-174e1472-8b9e-11e8-9e4a-4005b5340bd6.gif)

I don't observe the bug on the `react-responsive-ui` demo page but in a real-world app I can see the bug.
Don't know what could cause such behaviour.
I guess there could be many variables affecting that.

I downgraded to various versions and found out that `

[2018-07-19 19:31] catamphetamine commented on #359
Oh, actually, `2.1.0` doesn't work in some cases too.
So I reverted to `1.5.0`.

[2018-07-20 12:32] stipsan commented on #359
Thanks for the report! Is it possible to share a link to the real world use case where it happens?

In v1 `offsetLeft` and `offsetTop` is used to calculate scrolling coordinates. In v2 this had to refactor to use `getBoundingClientRect` instead to support SVG-in-HTML use cases, as SVG elements do not have these properties.

Another cause for the major difference in scrolling behavior is that v1 pe

[2018-07-20 12:36] catamphetamine commented on #359
We didn't roll it into production because the bug was discovered, so I guess it isn't.

Yeah, SVG is becoming more popular these days.
We ourselves use SVG quite often (because of React).
Without React SVG would be much less used.

Yeah, I noticed: it found `<body/>` and `<html/>` (two of them).

👍

You're welcome.

[2018-07-20 14:09] catamphetamine commented on #359
@stipsan I made a demo for you.
https://drive.google.com/file/d/1mS-n7GVzEA1RJTM3IWwGMke_5JwN-Qj-/view?usp=sharing

Extract to a folder, run `npm run dev`, go to `localhost:3002`, click on the "RESIDENCY" select and see how it scrolls into view.
Then open console and enter `scrollIntoView2 = true`.
Hit "Enter".
Scroll to the bottom of the page and click "RESIDENCY" select again — it will scroll to

[2018-07-20 14:10] catamphetamine commented on #359
Screenshot:

![image](https://user-images.githubusercontent.com/477167/43006980-bf58bd7e-8c3f-11e8-96b6-63e98c9a4e02.png)

[2018-07-20 14:15] stipsan commented on #359
You can send it to stipsan@gmail.com 👍

[2018-07-20 14:15] catamphetamine commented on #359
Sent

[2018-07-20 14:21] stipsan commented on #359
Sweet! I'll post back here when it's resolved 😄

[2018-07-20 14:22] catamphetamine commented on #359
Ok )
We're fine with 1.5.0 for the time being.

[2018-07-21 19:50] #359 closed

[2018-07-21 19:52] stipsan commented on #359
:tada: This issue has been resolved in version 2.2.15 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/scroll-into-view-if-needed)
- [GitHub release](https://github.com/stipsan/scroll-into-view-if-needed/releases/tag/v2.2.15)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-07-21 19:55] stipsan commented on #359
The new release is tested against your code but let me know if there's still a problem 🙂

[2018-07-21 19:56] catamphetamine commented on #359
@stipsan You're the man )

[2018-07-21 20:01] stipsan commented on #359
Well the code you shared with me made it really easy for me to fix this 😄

[2018-07-23 12:53] TTomasik opened #367 "compute.js"
Hi,
you left console.log in compute.js -> line 67 -> "console.log('test')"

[2018-07-26 02:16] fcurts opened #369 "Cannot read property 'clientHeight' of undefined"
2.2.8 is the last version that works for me (tried both Chrome and Safari). 2.2.9 and all later versions fail with:

[code]

Here is the failing invocation (`elem` is neither `undefined` nor `null`):

[code]

[2018-07-26 02:55] fcurts commented on #369
Figured it out. Was trying to scroll to an element before it had been added to the DOM. Apparently this works or is a no-op in 2.2.8 but fails in later versions.

[2018-07-26 11:16] stipsan commented on #369
Interesting! I’m going to re-open this issue and investigate how native browsers handle this, and if it’s included in the CSSOM View spec what should happen.

IMO we should either no-op or provide a better error message than `"clientHeight" on undefined` 🤔

[2018-08-05 20:14] stipsan opened #386 "Add support for scroll-margin and scroll-padding"
Documented in this spec: https://drafts.csswg.org/css-scroll-snap-1/#propdef-scroll-margin

This is how it'll be possible to set custom offsets without reimplementing the default scrolling behavior.

[2018-08-05 20:16] stipsan opened #387 "Add support for upcoming promise behavior"
Smooth scrolling will return promises in the future: https://github.com/w3c/csswg-drafts/issues/1562

Suggested implementation here is:
If the browser is returning a promise, pass it through and let the browser decide how it's resolved.
If the browser isn't returning a promise, but the behavior is set to "smooth", use `Promise.reject` as there is no way of knowing when scrolling is complete anyway

[2018-08-20 13:41] zheeeng opened #416 "[Feature Request]Add onScrollEnd callback"
Wish there is an 'onScrollEnd' callback it will be used to set some state / trigger some events after the scrolling finished.

[2018-08-28 06:58] stipsan commented on #416
Note: there is an upcoming proposal to the scrolling spec:
https://github.com/w3c/csswg-drafts/issues/1562#issuecomment-389586317

The logic in this library would need to account for both browsers that start implementing the new spec, and the majority of browsers who don’t.
I have to research and find a stable way to detect that a smooth-scrolling operation has completed. It’s a bit challenging si

[2018-08-29 03:01] zheeeng commented on #416
It's a huge challenge.

[2018-08-31 18:48] matthew-dean opened #432 "Bug - full-height elements can't scroll into view"
I ran into a situation in my code where I wanted to change something so that a full-height element (same height as scroll container) would scroll into view. To my surprise, nothing happened. I thought it must be my code, so I made a Codepen, with the same behavior (nothing happens): https://codepen.io/matthewdean/pen/KxaJga

To verify that it wasn't something wrong with scrolling setup, I made a 9

[2018-09-04 05:51] stipsan commented on #432
Hey! Thanks for the detailed report!

I don't know when I'll have time to work on this but I'll ping you here when I do. 🙂

[2018-10-03 13:37] floAtEbcont opened #463 "Angular production support"
When importing your lib to an angular project (I tried it with 6.1.9 with a simple empty project created with `ng new`) and running `ng serve` it works fine.

When I run `ng serve --prod` though, calling `scrollIntoView` just does nothing. There are no errors on compilation or at runtime, but apparently minification/uglification destroys something essential.

[2018-10-03 15:56] stipsan commented on #463
Could you make a reproduction repo of it? Or a codesandbox?

ons. 3. okt. 2018 kl. 15:37 skrev floAtEbcont <notifications@github.com>:

[2018-10-04 11:39] floAtEbcont commented on #463
@stipsan Sure. :-)

[code]

-> This will give you a working version at http://localhost:4200/ (If you click the button, it will scroll down to the div)

However, if you run `npm run start -- --prod` instead, the button will just do nothing (No errors on compilation or at runtime).
I'm using the latest npm (6.4.1) on Linux.

[2018-10-04 15:12] bluecaret commented on #369
Hi @stipsan is there any update on this? We are using this plugin but because of this bug we may have to find another solution if this doesn't get fixed soon so hoping your close to releasing a fix? Thanks!

[2018-10-04 15:40] stipsan commented on #369
Hey sorry to have kept you waiting! I will take care of this today 🙂
tor. 4. okt. 2018 kl. 17:12 skrev John Hancock <notifications@github.com>:

[2018-10-04 20:40] #369 closed

[2018-10-04 20:45] stipsan commented on #432
Hey again! I will be working on a fix for this tomorrow 😄

[2018-10-04 20:45] stipsan commented on #463
Thanks! 😄 Checking it now!

[2018-10-04 21:11] stipsan commented on #463
It appears to be the code is actually not missing. But it's failing to calculate the scrolling correctly.

If you use `behavior: actions => console.log(actions)` you can see that it returns an empty `[]`. I haven't verified manually wether uglify is eliminating anything it shouldn't, but so far it doesn't appear to be.

I will continue looking into it tomorrow. I suspect it's somehow CSS related,

[2018-10-04 21:36] stipsan commented on #369
:tada: This issue has been resolved in version 2.2.17 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/scroll-into-view-if-needed)
- [GitHub release](https://github.com/stipsan/scroll-into-view-if-needed/releases/tag/v2.2.17)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-10-04 21:41] stipsan commented on #369
@bluecaret please let me know if `v2.2.17` didn't solve it 🙂

[2018-10-04 23:33] bluecaret commented on #369
Awesome! Glad I said something ;) I'll take a look tomorrow. Thanks for the fast reply and work!

[2018-10-05 15:48] bluecaret commented on #369
@stipsan It worked great! And FYI we are using the smooth-scroll addon so it works with that as well. Thanks again!

[2018-10-06 18:36] stipsan commented on #369
Great to hear! 🎉

[2018-10-07 12:31] #432 closed

[2018-10-07 12:33] stipsan commented on #432
:tada: This issue has been resolved in version 2.2.19 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/scroll-into-view-if-needed)
- [GitHub release](https://github.com/stipsan/scroll-into-view-if-needed/releases/tag/v2.2.19)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-10-07 12:39] stipsan commented on #432
I've implemented the fix in [compute-scroll-into-view](https://github.com/stipsan/compute-scroll-into-view/pull/141/files) and released new versions of `scroll-into-view-if-needed` and `smooth-scroll-into-view-if-needed` with the fix.

Looks like the reproduction codepen works now https://codepen.io/matthewdean/pen/KxaJga 🙂

[2018-10-08 06:10] floAtEbcont commented on #463
@stipsan Yeah - thank you so much for you swift fix! :smiley: npm v2.2.19 of scroll-into-view-if-needed works perfectly for me!

[2018-10-08 18:13] stipsan commented on #463
Awesome 👍 😄

[2018-10-08 18:13] #463 closed

[2018-10-11 10:16] minhtranite opened #480 "Scroll element inside a iframe stop working when update to version 2.2.19"
I have a React component render list chidrent inside a iframe (fixed height and scrollable). When i click on a child element i want to scroll it to center viewport. I use scroll-into-view-if-needed and it worked. but after update to version 2.2.19 it stop work without any error message. It work again when downgrade to version 2.2.15

[2018-10-12 06:07] stipsan commented on #480
Hey and thanks for the report! I’ll give this a look as soon as I can 🙂

[2018-10-12 09:58] RichieRock commented on #463
Thank you for fixing this! I had the exact same issue and was wondering quite a long time why it's not working in production until I decided to come to this github issues page and found this :)

Thanks a lot!

[2018-10-14 21:01] stipsan commented on #480
I found an issue with this check that got added in version `2.2.17`:

https://github.com/stipsan/scroll-into-view-if-needed/blob/82929e919e874461866eaa8178f3f3c0251bd17c/src/index.ts#L67-L70

I'm changing this to https://github.com/stipsan/scroll-into-view-if-needed/blob/4e70a909aa96c9da20c356c81ce1eec84d019b24/src/index.ts#L67 in #482

A new version with the fix will be automatically released soo

[2018-10-14 21:12] stipsan commented on #480
It's out: https://github.com/stipsan/scroll-into-view-if-needed/releases/tag/v2.2.20

[2018-10-17 02:31] minhtranite commented on #480
Updated to version 2.2.20 and the bug gone. Thank you!

[2018-10-17 02:31] #480 closed

[2018-10-17 06:07] stipsan commented on #480
Great! 👍

[2018-10-19 05:40] Ludevik commented on #463
Thank you. I am now able to set "buildOptimizer": true for my prod builds ;)

[2018-10-22 15:14] fpapado commented on #386
Hi! I've been wondering about how to implement this. Trying to get things to scroll correctly with a sticky header has been uneven, and I like the idea of supporting these properties to achieve consistency.

Here's a rundown of my thoughts so far; I'd love your input if you have time!

## Things affected

Scroll padding and margin would affect two things:
- The amount to scroll, depending on scrol

[2018-10-26 14:42] nvcken opened #488 "is it possible support touch to scroll on mobile's browser ?"

[2018-10-29 07:33] stipsan opened #491 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-11-27 03:18] amyamyli opened #523 "Which browsers and devices supported?"

[2018-11-30 09:50] stipsan commented on #386
Hey @fpapado! I appreciate your thoughtful feedback! I'll do my best to respond here.

When I set out to refactor this package into what became `v2` more complicated things like sticky + fixed positioning were one of the things I had in mind. It's difficult to get things like that right, as it depends on more information than the computed style of the element you are wanting to scroll, or the offs

[2018-11-30 09:51] stipsan commented on #488
Yep, you just call it whenever you want it to scroll something into view. What events you want that to happen on is up to you.

[2018-11-30 09:54] stipsan commented on #523
All the major browsers should be supported.

I can't test all of them on every release due to usage limitations in browserstack (unfortunately), but if any of them break just open a report 🙂

https://github.com/stipsan/scroll-into-view-if-needed/blob/e4b7813c9996e9f523e34c7e15d02473d37bf152/tests/web-platform/browserstack.conf.js#L18-L26

On mobile phones things like zooming into the page, or the

[2018-12-01 00:43] kentcdodds commented on #386
How much will this impact the bundle size?

[2018-12-03 07:10] stipsan commented on #386
I don't know yet what the impact will be. I'll run a POC and ping you when I have some numbers to look at 🙂

[2018-12-07 10:05] fpapado commented on #386
Hey, @stipsan! Loved that response, it matches much of my own dilemmas when considering where and how this could be supported. I think exposing hooks in `compute-scroll-into-view` might be nice, in case some other consumer of the library wants to add more custom calculations/offsets.

A random thought that came to mind: could we use a custom property as a halfway point between the "real" CSS prope

[2019-01-29 12:06] comatory commented on #367
Yes having the same problem here, kinda annoying since I send out my console logs into error tracking (so it takes up unnecessary space in console). Using v `1.5.1`.

[2019-05-02 13:12] Deepak2322 opened #609 "Body behind the modal scrolls"
I have modal inside which I have a list of passengers who have scroll into view when clicked on a particular passenger. This works perfectly fine, but the body behind the modal also scrolls when this happens even thous I have frozen scroll using "overflow: hidden" CSS property. How to avoid body scroll.

[2019-05-10 13:22] thedamon commented on #386
A `scroll-padding` css property would be a pretty beautiful to achieve a lot of this. That way it could be reflective of specific elements, and also react to a css-custom property that might be updated as fixed things sit on top of other things...
It might make the Standards cry, though.

[2019-05-14 09:06] stipsan commented on #386
The best way to support IE11 is to use a markup structure that can accomplish the same things without using `scroll-padding` or `scroll-margin`.

With that in mind I think it's fine to rely on custom properties to "bridge the gap". As in we can use `getComputedStyle` to first check for `scroll-margin-*` and `scroll-padding-*` properties first, and if there isn't any it can fall back to `--scroll-m

[2019-05-14 14:48] thedamon commented on #416
Challenging but also extremely important for accessibility! For accessibility we often have to manage focus, which causes its own scroll events, BUT the native focus has no way of accounting for things like sticky headers or any of the positioning that is possible with this library (and gradually becoming possible through standards). Currently in order to have the necessary scroll modifications (b

[2019-05-15 15:40] stipsan commented on #416
.focus is being worked on to get similar controls as .scrollIntoView. I don’t know if that includes scrollMode:”if-needed”, but it does include behavior, block and inline at least.
Side note: It might be possible to create a ponyfill for it using compute-scroll-into-view since it have pretty much the same needs🤔 we’d still need a good solution for detecting when smooth scrolling stops though.

Unt

[2019-05-15 15:56] thedamon commented on #416
I keep wanting to use standards but they keep letting me down and I end up wishing I was using javascript animation.. but hard to do that without performance.

There is another nice thing I found (that may start working better soon in most browsers..) which is that in Chrome you can call [`element.focus({preventScroll: true})`](https://developer.mozilla.org/en-US/docs/Web/API/HTMLElement/focus#Par

[2019-05-16 09:40] MaximilianLloyd opened #612 "Snaps instead of scrolling smoothly."
The scrolling works, but it does not happen smoothly. It just snaps.

[2019-05-20 01:45] 0xdevalias commented on #612
Based on how you've described it, this is an explicit feature, and already documented.

See the following:
- https://github.com/stipsan/scroll-into-view-if-needed#ponyfill-smooth-scrolling
- https://github.com/stipsan/smooth-scroll-into-view-if-needed

[2019-07-01 11:40] #488 closed

[2019-09-19 11:19] catamphetamine commented on #126
Hi all.
I've read the readme and it says:

This was always a buggy feature and warned against using in v1 as it might get dropped. It's much safer to use CSS wrapper elements for this kind of thing.

https://github.com/stipsan/scroll-into-view-if-needed#offset

Seems that this feature has been removed in v2.
Shouldn't this issue be reopened then?
There seems to be no way to use this library on web

[2019-09-19 11:33] catamphetamine commented on #126
Actually, seems this like not an issue: `center` should be used (not `top`) and then it doesn't matter whether there's a floating header or not.
There're issues when the input field itself is higher than the screen height (for example, a big JSON editor) but that can be worked around by setting the input max height less than screen height.
So ignore the above comment.

[2019-09-25 15:31] hyvyys opened #635 "Unneeded scrolling of ancestors"
https://recordit.co/z3vQ93V1YP

Scrolling the parent also scrolls another ancestor higher up the DOM tree.

I understand this is the "standard" behavior even for the browser-implemented `scrollIntoView`. Is there any way to prevent this? It would be useful if the method did what its name suggest ("ifNeeded").

[2019-12-03 03:02] thedamon commented on #416
I have recently been reading that in a lot of cases JavaScript animations can be more performant than native css transitions so that makes me feel better about maybe just switching to the smooth- version of this lib if it has a callback option!

I think the reliability piece is probably worth the potential performance overhead. It makes me a bit batty trying to think of how to provide reusable com

[2019-12-15 21:39] pketh opened #650 "how to know when scrolling is complete?"
Hi, is there any way to know whether the scroll into view action has completed (promise resolution? a recommended timer approach?)?

the closest to this issue I found is https://github.com/stipsan/scroll-into-view-if-needed/issues/387 . Thanks!

[2020-01-03 13:28] #491 closed

[2020-01-22 22:11] stipsan commented on #126
It's also possible to solve this by applying the offsets you need and doing the scrolling yourself with a custom behavior: https://github.com/stipsan/scroll-into-view-if-needed#function

[2020-01-29 06:33] 92thunder opened #713 "How do scroll to element in iframe of outside of viewport?"
I fixed [scrollable if hidden by frame](https://github.com/stipsan/scroll-into-view-if-needed/releases/tag/v2.2.21), but does not work scroll if iframe is outside viewport.
It seems that it is supported in native, so I think it should be supported.

[2020-01-29 06:41] 92thunder commented on #713
@stipsan I have two ideas.
* Returns frames[] traversed above iframe by compute-scroll-into-view.
* If target is in iframe, recursively run behavior by scroll-into-view-if-needed.

I think the latter is better because the responsibilities are clear, but what about?

[2020-01-30 03:28] 92thunder commented on #713
After all, I fixed it with the above method.
Because, latter method is can't centering target if compute iframe as target.

[2020-02-06 18:48] Brokray commented on #158
Hello guys, any news about this ?

[2020-08-27 12:43] shijiatongxue opened #847 "How can I combine behavior function and behavior smooth"
Hi, there.

Because there is a banner above the scroll container, I need to set a target offset. I tried the behavior function implementation, but also wanted to use behavior smooth. **How can we combine the two?** Do you have any idea?

[code]

[2020-09-11 20:47] ngottlieb opened #860 "Shadow DOM support?"
I can't seem to get this to work on an element within a shadow DOM and I'm beginning to think it's at least temporarily not supported based on https://github.com/stipsan/compute-scroll-into-view/pull/76 -- is that right? Any suggestions on workarounds?

[2020-09-28 17:43] Svish commented on #386
I need either this, or an `offset` I can supply. 😕

[2020-10-15 14:29] renovate[bot] opened #884 "Dependency Dashboard"
This issue contains a list of Renovate updates and their statuses.

## Awaiting Schedule

These updates are awaiting their schedule. Click on a checkbox to ignore the schedule.
 - [ ] chore(deps): update babel monorepo to v7.12.0 (minor) (`@babel/cli`, `@babel/core`, `@babel/preset-env`, `@babel/preset-typescript`)
 - [ ] chore(deps): update dev dependency rollup to v2.30.0
 - [ ] chore(deps): upd

[2020-10-22 00:11] michakfromparis opened #893 "Scroll horizontally only inside a specific div"
Hi,

I have a div at the top of my page that I need to scroll horizontally without changing the page vertical scroll.
Any ideas of the best approach to take ?

Cheers

[2020-11-28 01:08] stipsan commented on #386
The draft spec has signaled this is coming in the [if-needed spec](https://github.com/w3c/csswg-drafts/pull/5677#issuecomment-729859962), I'll work on this soon 😄

[2021-01-21 14:42] #201 closed

[2021-05-12 19:07] betaorbust opened #993 "Horizontal RTL scrolling goes wrong way"
I've noticed that scrolling a horizontal group of elements that are in right-to-left (RTL) writing mode scrolls to the wrong end of the list.
The native API seems to handle this case, so I believe it's a bug.

[Reproduction in this pen.](https://codepen.io/betaorbust/pen/OJpMQJp) Instructions on the page.

Thanks so much!

[2021-08-03 13:32] NeliHarbuzava commented on #612
Maybe you should enable smooth scrolling in your browser (for Chrome go to [chrome://flags/#smooth-scrolling](chrome://flags/#smooth-scrolling) )

[2021-08-17 11:02] #612 closed

[2022-01-13 14:13] arturbien commented on #860
any updates on this? having the same problem

[2022-01-16 06:13] #847 closed

[2022-02-02 12:37] #860 closed

[2022-02-02 12:53] stipsan commented on #860
:tada: This issue has been resolved in version 2.2.29 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/scroll-into-view-if-needed/v/2.2.29)
- [GitHub release](https://github.com/stipsan/scroll-into-view-if-needed/releases/tag/v2.2.29)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-13 14:11] pavelloz commented on #367
I think this is ready to close, couldnt find this console log in current codebase :)

[2022-02-22 07:03] simeyla commented on #165
@stipsan I just started using the library today for an list of questions with expandable answers. I want the question and answer to scroll onto the screen if it isn't fully visible.

I'm using:

    scrollIntoView(element, { scrollMode: 'if-needed', block: 'center' })

I was quite surprised to find that the element is **always** centered using this method - even if it is already fully visible on s

[2022-03-01 11:21] stipsan commented on #165
Hey can you share a reproduction of this? It should indeed only center when needed 🤔

[2022-03-07 06:37] bakura10 commented on #386
Hi @stipsan :).

Is there any progress on supporting scroll-padding/margin to this library? It seems to work pretty well, but we have a use case where we need to actually "flush" the container to fill the whole width, and adding the scroll margin/padding is currently necessary.

[2022-07-19 07:22] nghiepit commented on #158
Any updates?

[2022-07-27 15:37] choxnox commented on #993
Is this going to be fixed any time soon?

This is breaking libraries which rely on this specific library (e.g. https://github.com/asmyshlyaev177/react-horizontal-scrolling-menu).

[2022-08-07 15:04] asmyshlyaev177 commented on #993
My library can work without polyfill, but this polyfill is good, I hope bug with RTL will be fixed.

[2022-08-31 13:01] wjureczka opened #1091 "[BUG] Safari on macOS Monterey 12.3.1"
Hey there, thanks for your job!

I would like to report that default function does not work on Safari macOS Monterey 12.3.1. The native function `scrollIntoViewIfNeeded` does work.

Is there any fix we can do?

[2022-09-08 12:12] lbdremy commented on #386
Hi @stipsan ,
Thanks for the amazing work on this lib, any news on this topic ?

[2022-11-29 06:39] #367 closed

[2022-11-29 06:39] #234 closed

[2022-11-30 18:21] hardyjosh opened #1117 ""Cannot use import statement outside a module" error when using v2.2.31"
Hi, I'm using Vercel and this package seems to be the root of an error which was causing my serverless function to crash:

[code]

I've rolled back to the below which has fixed my issue. Tbh not entirely sure what the problem is, but leaving this here in case somebody else is having the same problem as me.
[code]